<div class="mt-4">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input">Search</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Search here" />
        </div>

        <div class="form-group">
            <label for="select-input">gender</label>
            <select name="gender" class="form-control" id="select-input">
                <option value="">--Choose your gender--</option>
                <option value="0">male</option>
                <option value="1">female</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>